<div class="home-container">
  <div>
    <h1 class="green">Boost</h1>
    <h1 class="white">Your Brand With Innovative</h1>
    <h1 class="green">Digital Marketing</h1>
  </div>
  <div>
    <h3 class="white">Drive engagements and conversions with Advanced Digital marketing strategies</h3>
  </div>
  <button class="start-btn">Start Now</button>
  <p class="text">TRUSTED BY THOUSAND COMPANY</p>
  <div class="cards">
    <div>
      <img src="../../../assets/layers.svg" alt="">
      <span>Layers</span>
    </div>
    <div>
      <img src="../../../assets/help-circle.svg" alt="">
      <span>Quotient</span>
    </div>
    <div>
      <img src="../../../assets/circle.svg" alt="">
      <span>Circooles</span>
    </div>
    <div>
      <img src="../../../assets/layers.svg" alt="">
      <span>Hourglass</span>
    </div>
    <div>
      <img src="../../../assets/layers.svg" alt="">
      <span>Command+R</span>
    </div>
  </div>
</div>
