<div class="testimonial-container">
  <div class="heading-container">
    <h3>TESTIMONIAL</h3>
    <h1>Customer is Our Top</h1>
    <h1>Priority</h1>
    <p>We survey all of our clients, the results of which go directly to our CEO.</p>
  </div>
  <div class="card-slider">
    <span class="prev" (click)="changeSlide(-1)">
      ◀
    </span>
    <div class="slides">
      <div class="mySlides" *ngFor="let testimonial of testimonials; let i = index" [ngStyle]="{'display': i!==currentIndex ? 'none' : '' }">
        <ng-container *ngIf="i === currentIndex">
          <div class="content">
            <div class="heading">
              <img src="" alt="">
              <h3>{{testimonial.title}}</h3>
              <h2>{{testimonial.author}}</h2>
              <p>{{testimonial.description}}</p>
            </div>
          </div>
          <img src="../../../assets/profile.jpg" alt="" class="profile">
        </ng-container>

      </div>
    </div>
    <span class="next" (click)="changeSlide(1)">
      ▶
    </span>
  </div>
</div>
