<div class="whyUs-container">

  <h1 class="whyUs-heading">Why Choose us ?</h1>

  <div class="content-container">
    <div>
      <img src="../../../assets/people1.jpg" alt="">
      <div class="more-info">
        <h2 class="sub-heading">Solution Tailored specifically to your Business Needs</h2>
        <p class="sub-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus nesciunt veritatis iste cum aperiam
          harum nihil, adipisci in assumenda asperiores suscipit, laborum facilis error? Totam possimus dolorem
          nesciunt.
          Expedita!</p>
        <button class="read-more-btn">Read More</button>
      </div>
    </div>
    <div>
      <div class="more-info">
        <h2 class="sub-heading">Creative Excellence Elevates Every Project</h2>
        <p class="sub-heading">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quas dolorem blanditiis repellat beatae facere
          nam officiis fugit numquam fuga nulla illum voluptas, similique est suscipit quis sint et accusantium?</p>
        <button class="read-more-btn">Read More</button>
      </div>
      <img src="../../../assets/people1.jpg" alt="">
    </div>
    <div>
      <img src="../../../assets/people1.jpg" alt="">
      <div class="more-info">
        <h2 class="sub-heading">Client Satisfaction is our main Focus</h2>
        <p class="sub-heading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro corporis aliquid quo fugiat eligendi odit
          distinctio, nesciunt suscipit consequuntur in voluptatem nostrum totam ad numquam dolor modi reiciendis
          ratione
          ullam?</p>
        <button class="read-more-btn">Read More</button>
      </div>
    </div>
  </div>
</div>
