<div class="service-container">
  <h1 class="text">Services</h1>
  <h3 class="sub-heading">Strategic services drive digital success with tailored, comprehensive approaches</h3>
  <div class="service-cards">
    <div>
      <img src="../../../assets/SEO.svg" alt="">
      <span>SEO Marketing</span>
    </div>
    <div>
      <img src="../../../assets/content-marketing.svg" alt="">
      <span>Content Marketing</span>
    </div>
    <div>
      <img src="../../../assets/social-media.svg" alt="">
      <span>Social Media Management</span>
    </div>
    <div>
      <img src="../../../assets/PPC.svg" alt="">
      <span>PPC</span>
    </div>
    <div>
      <img src="../../../assets/email-marketting.svg" alt="">
      <span>Email Marketing</span>
    </div>
  </div>
</div>
