<div class="footer-container">
  <div class="green-background"></div>
  <div class="price-card">
    <h1 class="text main-heading">"Stand out online and make an impact"</h1>
    <p class="text sub-heading">David Smith - CEO of a Tech Startup</p>
    <p class="text">Jump on a membership and start requesting designs right away</p>
    <button class="price-btn">See Pricing</button>
  </div>
  <div class="footer-details">
    <div class="footer-sub-details">
      <div>
        <!-- <img src="" alt=""> -->
         <h3 class="text text-heading">Logo</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sequi asperiores velit est
          modi ea dignissimos reiciendis quaerat aperiam quod similique. Incidunt tempora blanditiis soluta repellendus
          cupiditate sint alias eligendi.</p>
      </div>
      <div>
        <h3 class="text text-heading">Our Services</h3>
        <div class="options">
          <span class="text ">
            SEO Marketing
          </span>
          <span class="text">Research Topic Trends</span>
          <span class="text">Email Marketing</span>
          <span class="text">Google PPC</span>
        </div>
      </div>
      <div>
        <h3 class="text text-heading">Our Location</h3>
        <div class="options">
          <span class="text">USA</span>
          <span class="text">UK</span>
          <span class="text">Canada</span>
          <span class="text">Virtual</span>
        </div>
      </div>
      <div>
        <h3 class="text text-heading">Contact Us</h3>
        <div class="options">
          <div>
            <img src="" alt="">
            <span class="text">{{email}}</span>
          </div>
          <div>
            <img src="" alt="">
            <span class="text">6382892973</span>
          </div>
          <div>
            <div>
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seperator">ssssssssssssssssss</div>
</div>
